.app {
  text-align: center;
}

.header {
  background-color: #f5f5dc;
  width: 100%;
  position: relative;
  display: inline-block;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.body {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 58px;
  left: 65%;
  width: 300px;
  background: whitesmoke;
  transform: translateX(-45%);
  background-color: var(--bg);
  padding: 1rem;
  overflow: hidden;
}