.app {
  text-align: center;
}

.header {
  background-color: #f5f5dc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}


