body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dropdown {
  position: absolute;
  top: 70px;
  width: 300px;
  transform: translateX(230%);
  background-color: gray;
  border: var(--border);
  border-radius: 10px;
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.divTags {
  justify-content: left;
}